.btn {
    border-radius: 24px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19px;
    color: #FEFEFE;
    text-transform: capitalize;
    padding: 14px 30px;
    cursor: pointer;
    transition-duration: 0.4s;

    &--red{
        background-color:$red-color;

        &:hover {
            transform: scale(1.3);
        }

        @include md {
            border-color: $red-color;
            color: #fff;
            box-shadow: 0 0 40px 40px $red-color inset, 0 0 0 0 $red-color;
            transition: all 150ms ease-in-out;

            
            &:hover {
              box-shadow: 0 0 10px 0 $red-color inset, 0 0 10px 4px $red-color;
              transform: scale(1.0);
              background-color: #fff;
              color: $red-color;
            }
        }
    }

    &--green{
        background-color:$grean-color;

        &:hover {
            transform: scale(1.3);
        }

        @include md {
            border-color: $grean-color;
            color: #fff;
            box-shadow: 0 0 40px 40px $grean-color inset, 0 0 0 0 $grean-color;
            transition: all 150ms ease-in-out;

            
            &:hover {
              box-shadow: 0 0 10px 0 $grean-color inset, 0 0 10px 4px $grean-color;
              transform: scale(1.0);
              background-color: #fff;
              color: $grean-color;
            }
        }
    }
}

