head
    title Page5
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css', rel='stylesheet')
    link(rel='stylesheet', href='/src/scss/bootstrap-grid.css')
    link(rel='stylesheet', href='/assets/css/main.min.css')