doctype html
html(lang="pl")
    //HEAD
    include parts/head.pug
    body
        //HEADER
        include parts/header.pug
        //CONTENT
        include parts/content.pug       
        //FOOTER
        include parts/footer.pug