//Google Foonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/graphik');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

//font-family: 'Lato', sans-serif;
//font-family: 'Roboto', sans-serif;
//'Graphik', sans-serif;
//font-family: 'Lato', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Raleway:wght@300;700;900&display=swap');

// /font-family: 'Montserrat', sans-serif;

//colors 

$gray-color:#2B2D42;
$grean-color:#41EAD4;
$white-color:#FEFEFE;
$red-color:#D80032;
 